// colors.scss

// Grey Light
$light-grey00: #C4C7C9; // disabled grey
$light-grey06: #EAECEC; // widget header grey
$light-grey08: #F5F6F5; // hover grey

// Grey
$grey00: #5F625F; // normal grey font
$grey04: #A9ABA9; // label grey
$grey07: #D5D5D5; // separator grey

// Mid Blue
$mid-blue00: #008CC1; // standard bg/label blue
$mid-blue01: #1BA1CE;
$mid-blue07: #BAE0EF; // light blue click state
$mid-blue09: #E8F5F9; // light bg blue

// Standard
$white: #FFFFFF;
$black: #000000;
$grey: #FAFAFA; // background

// Critical States
$red: #FF4200; // error
$amber: #FFBB00; // warning
$green: #61CF01; // success